<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
  </head>
  <body>

    {{>header}}
    <div class="ui massive message inverted">
      <div class="ui container">
        <h1 class="ui huge header inverted">{{title}}</h1>

      </div>
    </div>
    <div class="ui container">
      <div class="ui segment inverted">
        
              <h2 class="ui header">About the app</h2>
            
          <p>This app was created with <a href="https://nodejs.org/en/" alt="Node.Js">Node.js</a> and <a href="http://handlebarsjs.com/">Handlebars</a> using location data from <a href="https://www.mapbox.com/">MapBox.com</a> and weather data from <a href="https://darksky.net/">DarkSky.net</a>. Styling done with <a href="https://semantic-ui.com/">Semantic UI</a>.</p>
          <h3 class="ui header">Icons made by:</h3>
          <p>
            <div><a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski">Zlatko Najdenovski</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div><a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </p>
        </div>
        <div class="ui segment inverted">

          <div class="ui grid">
            <div class="row">
              <div class="three wide column">
                <img src="/img/joe-zoom-square.png" id="joe-zoom" class="ui
                  small
                  circular spaced image">
              </div>
              <div class="thirteen wide column">
                <h2 class="ui header">About me</h2>
                <div class="ui container inline" id="about-me">
                <p>
                  Born in Boulder, Colorado and raised on a horse farm, I've
                  gotten around. From auto body mechanic in Monroe, Washington, guitar shop salesperson to
                  dock worker in an Alaskan fish factory. Then in Berlin a <a href="https://joeczarnecki.bandcamp.com/">solo
                  guitarist, composer</a>, <a href="https://scheining.bandcamp.com/">producer, graphic designer, web designer, social media manager,</a> barista, bar tender,
                  <a href="https://soundcloud.com/joe-czarnecki/sets/kids-recording-workshops">english teacher</a>, <a href="https://www.savethechildren.de/unterstuetzen/fuer-unternehmen/ihre-hilfe/laufendes-projekt-unterstuetzen/projekte-in-deutschland/">media educator, communications manager,
                  digital education project developer</a> and now web developer.
                  <br><br>
                  Rock 'n Roll!
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}

    </body>
  </html>